DB_HOST=thisorthat2026-thisorthat2026.f.aivencloud.com
DB_PORT=23286
DB_USER=avnadmin
DB_PASSWORD=[PASTE_AIVEN_PASSWORD_HERE]
DB_NAME=defaultdb
DB_SSL=true
JWT_SECRET=supersecretassignmentkey
PORT=4000
